%h1 Game

#hexagon-wrap
  #hexagon-wrap-inner
    - (0...@hex_count).each do |i|
      #hexagon
        .hexagon-inner.edit-word
          %div{ style: 'display: none;' }
            .edit-hex-dialog{ title: 'Edit Word' }
              = form_for Hex.new, url: '' do |f|
                = f.text_field :word
                = f.submit 'OK'
    %div{:style => "clear:both;"}

= link_to 'Back', games_path
